.link-logo {
  display: inline-block;
}
.img-responsive.img-logo {
  max-width: 300px;
}

.gleam-max-width {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.col-intro,
.col-info {
  text-align: center;
}
.col-intro {
  position: relative;
  padding: 0;
  height: 350px;
  overflow: hidden;
  background-color: #000;
}

.nowrap {
  white-space: nowrap;
}
#img-logo {
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -100px;
}
#video-background {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: #000;
}
#text-tagline {
  margin: 0 auto;
  position: absolute;
  top: 255px;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  color: #fff;
}

/**
*** Breakpoints are based on minimum viewport widths and allow us to scale up elements as the viewport changes.
**/
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #text-tagline {
    font-size: 45px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

/**
*** Targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.
**/
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
