
.link-logo {
  display: inline-block;
}
.img-responsive.img-logo {
  max-width: 300px;
}

.gleam-max-width {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}

.col-win {
  text-align: center;
}
.col-intro {
  position: relative;
  padding: 0;
  height: 350px;
  overflow: hidden;
  background-color: #000;
  text-align: center;
}
.col-navbar {
  height: 70px;
  line-height: 70px;
  padding: 10px;
  background-color: #010002;
}
#img-navbar-logo {
  height:50px;
  width: auto;
  float: left;
  padding-right: 10px;
}
#text-brand {
  line-height: 50px;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  color: #eee;
  opacity: 0.9;
  font-weight: 700;
  font-family:'Bitter';
  letter-spacing: 1px;
  font-size: 36px;
  margin: 0;
  font-size: 36px;
  display: inline-block;
}
#navbar-nav {
  display: inline-block;
  float: right;
  line-height: 50px;
  background-color: #010002;
  margin: -11px -10px 0 0;
  padding: 10px;
  border-radius: 0 0 0 10px;
}
#img-navbar-menu {
  height:50px;
  width: auto;
}

.nowrap {
  white-space: nowrap;
}
#img-logo {
  margin: 0 auto;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -100px;
}
#video-background {
  min-width: 200%;
  margin-left: -50%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  background-color: #000;
}
@media (max-width: 420px) {
  #video-background {
    min-width: 300%;
    margin-left: -125%;
  }
}

#text-tagline {
  margin: 0 auto;
  position: absolute;
  top: 230px;
  line-height: 1.4;
  text-align: center;
  width: 100%;
  text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
  color: #eee;
  opacity: 0.9;
  font-weight: 700;
  font-family:'Bitter';
  letter-spacing: 1px;
  font-size: 36px;
  padding-top: 0.1em;
}
@media (min-width: 622px) {
  #img-logo {
    top: 30px;
  }
  #text-tagline {
    top: 255px;
     line-height: 1.5;
  }
}


/**
*** Breakpoints are based on minimum viewport widths and allow us to scale up elements as the viewport changes.
**/
@media (min-width: 576px) {
  #video-background {
    min-width: 150%;
    margin-left: -25%;
  }
}
@media (min-width: 768px) {
  #video-background {
    min-width: 125%;
    margin-left: -12.5%;
  }
  #text-tagline {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  #video-background {
    min-width: 100%;
    margin-left: 0;
  }
  #text-tagline {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {  }

/**
*** Targeting a single segment of screen sizes using the minimum and maximum breakpoint widths.
**/
@media (max-width: 575px) {  }
@media (min-width: 576px) and (max-width: 767px) {  }
@media (min-width: 768px) and (max-width: 991px) {  }
@media (min-width: 992px) and (max-width: 1199px) {  }
@media (min-width: 1200px) {  }
