---
layout: default
---
<div class="product-details">
  <h1>
    <a href="{{ page.product_url_home }}" class="link-logo"><img
      src="/img/{{ page.slug }}.png" class="img-responsive img-logo" alt="{{ page.product_name | escape }}"></a>
  </h1>
  <h2 class="product-header">{{ page.product_header | escape }}</h2>
  <p class="product-description">{{ page.product_description | escape }}</p>
  <div id="cta-buttons">
    {% if page.product_url_home != empty %}
    <a href="/go/?url={{ page.product_url_home }}" class="btn btn-lg btn-primary" target="_blank">Go to Website</a>
    {% endif %}
    <a href="https://www.google.com/search?q=best+{{ page.slug }}+coupon" class="btn btn-lg btn-primary btn-coupon" target="_blank">Best Coupon</a>
  </div>
  <!--
    {% if page.product_url_pricing != empty %}
    <a href="{{ page.product_url_pricing }}" class="btn btn-default">Pricing</a>
    {% endif %}
    {% if page.product_url_freetrial != empty %}
    <a href="{{ page.product_url_freetrial }}" class="btn btn-default">Free Trial</a>
    {% endif %}
    -->
  {% if page.gleam_coupon_url != empty %}
  <div class="coupon">
    <a class="coupon-link" href="page.gleam_coupon_url" target="_blank">{{ page.gleam_coupon_text | escape }}</a>
    <!-- <p><a class="e-widget no-button" href="{{ page.gleam_coupon_url }}" rel="nofollow">{{ page.gleam_coupon_text | escape }}</a></p> -->
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="row">
    <div class="col-win">
      {% if page.gleam_competition_url != empty %}
      <a class="e-widget no-button" href="{{ page.gleam_competition_url }}" rel="nofollow">{{ page.gleam_competition_text | escape }}</a>
      {% endif %}
    </div>
  </div>
</div>
<div class="post-details">
  <div class="gleam-max-width">
    <h1>Pre-Giveaway Rules</h1>
    <p>aksjdasdkj akjsdh akjsdhka jdhakjs akjhsd </p>
    <p>asdasda sd weqweqw eqasd asd wq asd sdwq asd asdwqe qwa </p>
  </div>
</div>
